<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.kulibet.resto">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.VIBRATE"/>
	<uses-permission	android:name="android.permission.CAMERA"/>
	<uses-permission	android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application
		android:allowBackup="true"
		android:label="Kulibet Resto"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/FullScreen">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".MasukActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/NoActionBar"/>
		<activity
			android:name=".DaftarActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/NoActionBar"/>
		<activity
			android:name=".LupapasswordActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/NoActionBar"/>
		<activity
			android:name=".GudangActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/NoActionBar"/>
		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:authorities="com.kulibet.resto.firebaseinitprovider"
			android:exported="false"
			android:initOrder="100"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
	</application>
</manifest>
